<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewind.hl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <provider
            android:name=".ui.RecentEventTypesProvider"
            android:authorities="com.ewind.hl.ui.RecentEventTypesProvider" />

        <provider
            android:name=".ui.RecentAreasProvider"
            android:authorities="com.ewind.hl.ui.RecentAreasProvider" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.EventFormActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.history.GraphHistoryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.history.ListHistoryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.EventTypeSearchActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.AreaSearchActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>